---
direct: Ampflower is gay!
description: Yes, Ampflower is immensely gay!
deferred:
 - /assets/js/index.js
quotes:
 - author: Moxie
   quote: "They're the best kind of gay"
 - author: Hanna
   quote: "they make my brain go beep boop"
 - author: Irwynn
   quote: "Good girl"
 - author: Fnige
   quote: "Cuties"
 - author: Ringlings
   quote: '<img src="https://cdn.discordapp.com/emojis/1056626292780453918.webp?size=44&quality=lossless" width="24" height="24" alt="cat stare" />'
 - author: ender
   quote: "A smart cutie full of cuties"
 - author: Unreal Engine
   quote: "&lt;MISSING STRING TABLE ENTRY&gt;"
 - author: Kichura
   quote: "but have you <b>patented</b> that?"
 - author: Kyle
   quote: '<b><i>R E D A C T E D</i></b>'
   spoiler: 'kyle-redacted'
 - author: Emilyyyyy
   quote: Volt/Ohmflower
 - author: Ringlings
   quote: "Before meeting ampflower, I would have never known what it's like to know ampflower. Now that I have, I regret every single cursed project I've been morbidly curious about"
 - author: ender
   quote: "Who are you and why are you in my closet"
 - author: Octal
   quote: Gay gay homosexual gay
 - author: Ryan
   quote: "I am ryan and I approve this website"
 - author: Ava @ Astralchroma
   quote: idk what to put here
 - author: Fox
   quote: ":stare:"
 - author: Mira @ Circe Aurora
   quote: "The smartest person I know who can bypass all restrictions I've placed on my eval command for my bot, which used Groovy, using increasingly cursed ideas until I gave up and admitted defeat"
 - author: IntelliJ IDEA
   quote: "<pre>Error: Could not find or load main class net.fabricmc.devlaunchinjector.Main<br/>Caused by: java.lang.ClassNotFoundException: net.fabricmc.devlaunchinjector.Main<br/>Could not find or load main class net.fabricmc.devlaunchinjector.Main<br/>

   Caused by: java.lang.ClassNotFoundException: net.fabricmc.devlaunchinjector.Main</pre>"
 - author: Zeichenreihe
   quote: "<s>and that's what you get from trying fabric classes, without asking the pineapple council</s>
           <img src=\"https://cdn.discordapp.com/emojis/1117566742445703359.webp?size=44&quality=lossless\" width=\"24\" height=\"24\" alt=\"pineapple\"/>"
 - author: Kichura
   quote: "Made with <b>Jeff</b>Phone, and boy have we <b>patented</b> it."
 - author: blackstorm118
   quote: "how did we get here"
   hover: "Simple. Uh, chaos?"
 - author: Leia
   quote: gayyyyyyyyyyyyyyyyyyyy
 - author: Circe Aurora
   quote: '<img src="https://cdn.discordapp.com/emojis/1019580823709683722.webp?size=44&quality=lossless" width="24" height="24" alt="blobfox snuggle" />
<img src="https://cdn.discordapp.com/emojis/1019580823709683722.webp?size=44&quality=lossless" width="24" height="24" alt="blobfox snuggle" />
<img src="https://cdn.discordapp.com/emojis/1019580823709683722.webp?size=44&quality=lossless" width="24" height="24" alt="blobfox snuggle" />
<img src="https://cdn.discordapp.com/emojis/1019580823709683722.webp?size=44&quality=lossless" width="24" height="24" alt="blobfox snuggle" />
<img src="https://cdn.discordapp.com/emojis/1019580823709683722.webp?size=44&quality=lossless" width="24" height="24" alt="blobfox snuggle" />
<img src="https://cdn.discordapp.com/emojis/1019580823709683722.webp?size=44&quality=lossless" width="24" height="24" alt="blobfox snuggle" />
<img src="https://cdn.discordapp.com/emojis/1019580823709683722.webp?size=44&quality=lossless" width="24" height="24" alt="blobfox snuggle" />
<img src="https://cdn.discordapp.com/emojis/1019580823709683722.webp?size=44&quality=lossless" width="24" height="24" alt="blobfox snuggle" />
<img src="https://cdn.discordapp.com/emojis/1019580823709683722.webp?size=44&quality=lossless" width="24" height="24" alt="blobfox snuggle" />
<img src="https://cdn.discordapp.com/emojis/1019580823709683722.webp?size=44&quality=lossless" width="24" height="24" alt="blobfox snuggle" />
<br/>
All the snuggles for the cuties!'
 - author: ember (ecorous)
   quote: "And &another gay one"
 - author: Auria
   quote: miau
   random:
    - meow
    - miau
    - mrow
    - mriau
    - mreow
 - author: Liam Compasses
   quote: "Quill's chest binder <i>now in real life</i>"
 - author: Fnige
   quote: '<img src="https://cdn.discordapp.com/emojis/1056626292780453918.webp?size=44&quality=lossless" width="24" height="24" alt="cat stare"/>'
 - author: Minecraft
   quote: '<pre>mapKey(KEYSYM, "key.keyboard.world.1", 161);<br/>mapKey(KEYSYM, "key.keyboard.world.2", 162);</pre>'
 - author: Jaiden
   quote: "i'm not creative enough for a funny quote"
   hover: "&quot;i'm not funny enough for a funny quote&quot; &mdash; Ampflower"
 - author: emily.gay
   quote: "is she really gay?"
 - author: Flippi 284
   quote: "but is the gay immensely ampflower?"
 - author: SandwichesANDMilk
   quote: '<img src="https://cdn.discordapp.com/emojis/1117566742445703359.webp?size=44&quality=lossless" width="24" height="24" alt="pineapple" />'
 - author: Brain
   quote: "Adrien is now a girl's name"
 - author: Ember
   quote: '<img src="https://cdn.discordapp.com/emojis/1109811879360086056.webp?size=44&quality=lossless" width="24" height="24" alt="blobfox pineapple" />'
 - author: blackstorm118
   quote: "Never have I heard so much and yet understood so little than being friends with ampflower"
 - author: IntelliJ
   quote: "Gay gay gay or gay man or lesbian or gay person/people gay"
   hover: "Consider using 'gay or gay man or lesbian or gay person/people' instead of 'homosexual'."
 - author: Blurryface
   quote: "They're so gay they spread the gayness to Minecraft."
 - author: Unity
   quote: "<pre>The Progressive CPU lightmapper is not supported on Apple silicon, switching to the Progressive GPU lightmapper.<br/>UnityEditor.EditorApplication:Internal_RestoreLastOpenedScenes ()</pre>"
 - author: nobody specific
   quote: "They'll find a way, whether or not it was intended is not relevant"
 - author: Adrien
   quote: "So we have a Debian install that we installed like Arch over netboot and merged /boot + EFI, all while using ZFS as root<br/>
Oh, and to top it all off: SYSLINUX is the bootloader"
 - author: Aury @ Astralchroma
   quote: "arch running mongodb and zfs on 512mb ram, installed via bootstrap from arch installed via bootstrap from centos 7"
 - author: kb1000
   quote: "more cursed better cursed"
 - author: Ember
   quote: '<img src="https://cdn.discordapp.com/emojis/982107002434101248.webp?size=44&quality=lossless" width="24" height="24" alt="blobfox terrified" />'
 - author: JavaScript
   quote: "<code>&lbrack;-1, -5, 0, 10, 5&rbrack;.sort() == &lbrack;-1, -5, 0, 10, 5&rbrack;</code><br/>You didn't say what to sort by so clearly they're all strings"
 - author: Plumeria Stardust
   quote: "I love having to restart our computer 3 times because it randomly corrupted our microphone drivers I love it so much.<br/>
I love Windows. I love Windows. I love Windows. I love Windows. I love Windows. I love Windows.<br/>
<s>You should probably screencap this for when we say Windows is perfectly fine and we have no problems with it and that we find no need to switch to Linux</s>"
---

<div class="card">

<h1 id="yes-ampflower-is-immensely-gay">
	Yes, <a href="https://ampflower.is-immensely.gay">ampflower.<wbr/>is-immensely.<wbr/>gay</a>!
</h1>

{% if page.quotes %}
<div class="figures">
	{% for quote in page.quotes %}
		<figure {% if quote.hover %} title="{{quote.hover}}" {% endif %} {% if quote.random %} class="randomizable" {% endif %}>
			{% if quote.spoiler %}
			<input id="{{quote.spoiler}}" type="checkbox" class="spoiler" />
			<label for="{{quote.spoiler}}" class="quote spoiler">
			{% else %}
			<div class="quote">
			{% endif %}
				<blockquote {% if quote.random %} class="random" data-random="{{quote.random | size}}" {% for random in quote.random %} data-random{{forloop.index0}}="{{random}}" {% endfor %} {% endif %}>{{quote.quote}}</blockquote>
			{% if quote.spoiler %}
			</label>
			{% else %}
			</div>
			{% endif %}
			<figcaption>&mdash; {{quote.author}}</figcaption>
		</figure>
	{% endfor %}
</div>
{% endif %}

	<hr/>
<p>
Now go check her out on her <a href="https://ampflower.gay">personal site</a>!
</p>

</div>
