---
---

:root {
	color-scheme: light dark;
}

@media screen and (prefers-color-scheme: dark) {
	body {
		background-color: #181720;
		color: white;
	}

	a {
		color: #7AF;
	}

	a:visited {
		color: #FAF;
	}
}

footer>div,
main {
	max-width: min(70ch, 80dvw);
	margin: 2.5rem auto;
	background-color: #d6b8ff;
	border: 0.2rem solid #98c46e;
	border-radius: 1rem;
	text-align: center;
}

@media screen and (prefers-color-scheme: dark) {
	main {
		background-color: #2f2442;
		border-color: #32471f;
	}
}

header,
article {
	margin: 2rem 0.5rem;
}

h1 {
	margin: 0;
}

article>div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0.5rem;
	filter: drop-shadow(0rem 1rem 3rem #000000A0);
}

blockquote {
	margin: 0;
	border: 0.2rem solid;
	border-radius: 1em;
	flex-grow: 1;
	min-width: 0;
	display: flex;
	flex-direction: column;
}

blockquote> :first-child {
	margin-block: auto;
}

blockquote:nth-child(8n+1) {
	border-color: #A30262;
	background-color: hsl(-35.7763, 100%, 76%);
}

blockquote:nth-child(8n+2) {
	border-color: #D362A4;
	background-color: hsl(-35.0442, 100%, 86%);
}

blockquote:nth-child(8n+3) {
	border-color: #FFFFFF;
	background-color: hsl(0, 0%, 86%);
}

blockquote:nth-child(8n+4) {
	border-color: #FF9A56;
	background-color: hsl(24.14, 100%, 86%);
}

blockquote:nth-child(8n+5) {
	border-color: #D52D00;
	background-color: hsl(12.67, 100%, 76%);
}

blockquote:nth-child(8n+6) {
	border-color: #FF9A56;
	background-color: hsl(24.14, 100%, 86%);
}

blockquote:nth-child(8n+7) {
	border-color: #FFFFFF;
	background-color: hsl(0, 0%, 86%);
}

blockquote:nth-child(8n+8) {
	border-color: #D362A4;
	background-color: hsl(-35.0442, 100%, 86%);
}

@media screen and (prefers-color-scheme: dark) {
	blockquote:nth-child(8n+1) {
		background-color: hsl(-35.7763, 50%, 15%);
	}

	blockquote:nth-child(8n+2) {
		background-color: hsl(-35.0442, 50%, 20%);
	}

	blockquote:nth-child(8n+3) {
		border-color: #999;
		background-color: hsl(0, 0%, 22%);
	}

	blockquote:nth-child(8n+4) {
		background-color: hsl(24.14, 50%, 20%);
	}

	blockquote:nth-child(8n+5) {
		background-color: hsl(12.67, 50%, 15%);
	}

	blockquote:nth-child(8n+6) {
		background-color: hsl(24.14, 50%, 20%);
	}

	blockquote:nth-child(8n+7) {
		border-color: #999;
		background-color: hsl(0, 0%, 20%);
	}

	blockquote:nth-child(8n+8) {
		background-color: hsl(-35.0442, 50%, 20%);
	}
}

blockquote>* {
	padding: 0.5rem;
}

blockquote p {
	margin: 0;
}

pre {
	overflow-x: auto;
	margin-bottom: 0;
}

blockquote>p>img {
	height: 24px;
	vertical-align: middle;
}

cite {
	display: block;
	background-color: #00000011;
	font-style: normal;
}

cite::before {
	content: '— ';
}

hr,
article>p {
	margin: 2rem 0;
}

.upside-down {
	rotate: 180deg;
}

input[type='checkbox'] {
	display: none;
}

input[type='checkbox']+label {
	color: transparent;
	background-color: #111;
	cursor: pointer;
	border-radius: 0.8rem;
	transition: color 0.2s ease, background-color 0.2s ease;
}

input:checked+label {
	color: inherit;
	background-color: unset;
}

footer {
	height: 100dvh;
	display: flex;
	justify-content: center;
}

footer>div {
	margin: auto;
	padding: 1rem;
}

footer>div> :first-child {
	margin-top: 1rem;
}

footer>div>p {
	margin-block: 2rem;
}

footer>div> :last-child {
	margin-bottom: 1rem;
}
